In [3]:
#import pandas library
import pandas as pd
df=pd.read_csv('Amazon.csv') #read csv file
df

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,BrightLux,3.0,106.59,0.00,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,UrbanStyle,1.0,251.37,0.05,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,UrbanStyle,3.0,35.03,0.10,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908
3,ORD0000004,2023-07-18,CUST030059,Vihaan Reddy,P00041,Webcam Full HD,Home & Kitchen,Zenith,5.0,33.58,0.15,11.42,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,India,SELL01164
4,ORD0000005,2023-02-04,CUST048677,Aditya Kapoor,P00029,T-Shirt,Clothing,KiddoFun,2.0,515.64,0.25,38.67,9.23,821.36,Credit Card,Cancelled,San Antonio,TX,Canada,SELL01411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6033,ORD0006034,2020-03-17,CUST012285,Priya Verma,P00006,Gaming Mouse,Home & Kitchen,FitLife,1.0,460.85,0.05,78.81,2.21,518.83,UPI,Delivered,New York,NY,United States,SELL01348
6034,ORD0006035,2020-08-17,CUST016814,Aarav Joshi,P00040,Microphone,Books,Zenith,5.0,223.36,0.20,160.82,3.73,1057.99,Debit Card,Delivered,Los Angeles,CA,United States,SELL01610
6035,ORD0006036,2023-07-05,CUST036682,Arjun Joshi,P00035,Desk Plant,Clothing,HomeEase,3.0,563.28,0.00,0.00,6.43,1696.27,Net Banking,Returned,San Jose,CA,United States,SELL01453
6036,ORD0006037,2023-07-11,CUST022189,Arjun Reddy,P00029,T-Shirt,Books,HomeEase,3.0,581.80,0.15,74.18,10.20,1567.97,Credit Card,Delivered,Los Angeles,CA,United States,SELL00678
6037,ORD0006038,2020-11-26,CUST036490,Priya Kapoor,P00049,Children',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()     #required information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6038 entries, 0 to 6037
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderID        6038 non-null   object
 1   OrderDate      6038 non-null   object
 2   CustomerID     6038 non-null   object
 3   CustomerName   6038 non-null   object
 4   ProductID      6038 non-null   object
 5   ProductName    6038 non-null   object
 6   Category       6037 non-null   object
 7   Brand          6037 non-null   object
 8   Quantity       6037 non-null   float64
 9   UnitPrice      6037 non-null   float64
 10  Discount       6037 non-null   float64
 11  Tax            6037 non-null   float64
 12  ShippingCost   6037 non-null   float64
 13  TotalAmount    6037 non-null   float64
 14  PaymentMethod  6037 non-null   object
 15  OrderStatus    6037 non-null   object
 16  City           6037 non-null   object
 17  State          6037 non-null   object
 18  Country        6037 non-null   object
 19  SellerID       6037 non-null   object
dtypes: float64(6), object(14)
memory usage: 943.6+ KB

In [5]:
df.describe()       #statistical summary

,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount
count,6037.000000,6037.000000,6037.000000,6037.000000,6037.000000,6037.000000
mean,3.011264,299.576909,0.074027,67.969995,7.362839,911.352077
std,1.412645,172.590960,0.083170,74.096267,4.304587,727.846530
min,1.000000,5.140000,0.000000,0.000000,0.000000,6.190000
25%,2.000000,148.750000,0.000000,15.390000,3.670000,335.050000
50%,3.000000,298.200000,0.050000,45.040000,7.170000,693.520000
75%,4.000000,450.650000,0.150000,95.070000,11.080000,1333.150000
max,5.000000,599.990000,0.300000,535.730000,15.000000,3514.240000

In [6]:
df.head()   #see first 5 rows

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,BrightLux,3.0,106.59,0.00,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,UrbanStyle,1.0,251.37,0.05,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,UrbanStyle,3.0,35.03,0.10,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908
3,ORD0000004,2023-07-18,CUST030059,Vihaan Reddy,P00041,Webcam Full HD,Home & Kitchen,Zenith,5.0,33.58,0.15,11.42,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,India,SELL01164
4,ORD0000005,2023-02-04,CUST048677,Aditya Kapoor,P00029,T-Shirt,Clothing,KiddoFun,2.0,515.64,0.25,38.67,9.23,821.36,Credit Card,Cancelled,San Antonio,TX,Canada,SELL01411

In [7]:
df.tail()  #see last 5 rows

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID
6033,ORD0006034,2020-03-17,CUST012285,Priya Verma,P00006,Gaming Mouse,Home & Kitchen,FitLife,1.0,460.85,0.05,78.81,2.21,518.83,UPI,Delivered,New York,NY,United States,SELL01348
6034,ORD0006035,2020-08-17,CUST016814,Aarav Joshi,P00040,Microphone,Books,Zenith,5.0,223.36,0.20,160.82,3.73,1057.99,Debit Card,Delivered,Los Angeles,CA,United States,SELL01610
6035,ORD0006036,2023-07-05,CUST036682,Arjun Joshi,P00035,Desk Plant,Clothing,HomeEase,3.0,563.28,0.00,0.00,6.43,1696.27,Net Banking,Returned,San Jose,CA,United States,SELL01453
6036,ORD0006037,2023-07-11,CUST022189,Arjun Reddy,P00029,T-Shirt,Books,HomeEase,3.0,581.80,0.15,74.18,10.20,1567.97,Credit Card,Delivered,Los Angeles,CA,United States,SELL00678
6037,ORD0006038,2020-11-26,CUST036490,Priya Kapoor,P00049,Children',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.shape   #shape(rows, columns)

(6038, 20)

In [9]:
df.columns  #column name

Index(['OrderID', 'OrderDate', 'CustomerID', 'CustomerName', 'ProductID',
       'ProductName', 'Category', 'Brand', 'Quantity', 'UnitPrice', 'Discount',
       'Tax', 'ShippingCost', 'TotalAmount', 'PaymentMethod', 'OrderStatus',
       'City', 'State', 'Country', 'SellerID'],
      dtype='object')

In [10]:
df.dropna()  #removes rows (or columns) that contain missing values (NaN)

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,BrightLux,3.0,106.59,0.00,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,UrbanStyle,1.0,251.37,0.05,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,UrbanStyle,3.0,35.03,0.10,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908
3,ORD0000004,2023-07-18,CUST030059,Vihaan Reddy,P00041,Webcam Full HD,Home & Kitchen,Zenith,5.0,33.58,0.15,11.42,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,India,SELL01164
4,ORD0000005,2023-02-04,CUST048677,Aditya Kapoor,P00029,T-Shirt,Clothing,KiddoFun,2.0,515.64,0.25,38.67,9.23,821.36,Credit Card,Cancelled,San Antonio,TX,Canada,SELL01411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6032,ORD0006033,2020-04-13,CUST028346,Ritika Patel,P00013,Action Camera,Home & Kitchen,Zenith,5.0,399.61,0.05,151.85,4.55,2054.55,Credit Card,Delivered,Fort Worth,TX,United States,SELL01493
6033,ORD0006034,2020-03-17,CUST012285,Priya Verma,P00006,Gaming Mouse,Home & Kitchen,FitLife,1.0,460.85,0.05,78.81,2.21,518.83,UPI,Delivered,New York,NY,United States,SELL01348
6034,ORD0006035,2020-08-17,CUST016814,Aarav Joshi,P00040,Microphone,Books,Zenith,5.0,223.36,0.20,160.82,3.73,1057.99,Debit Card,Delivered,Los Angeles,CA,United States,SELL01610
6035,ORD0006036,2023-07-05,CUST036682,Arjun Joshi,P00035,Desk Plant,Clothing,HomeEase,3.0,563.28,0.00,0.00,6.43,1696.27,Net Banking,Returned,San Jose,CA,United States,SELL01453
6036,ORD0006037,2023-07-11,CUST022189,Arjun Reddy,P00029,T-Shirt,Books,HomeEase,3.0,581.80,0.15,74.18,10.20,1567.97,Credit Card,Delivered,Los Angeles,CA,United States,SELL00678

In [11]:
df.fillna(0)  #fill or replace missing values(NaN)with specified value

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,BrightLux,3.0,106.59,0.00,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,UrbanStyle,1.0,251.37,0.05,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,UrbanStyle,3.0,35.03,0.10,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908
3,ORD0000004,2023-07-18,CUST030059,Vihaan Reddy,P00041,Webcam Full HD,Home & Kitchen,Zenith,5.0,33.58,0.15,11.42,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,India,SELL01164
4,ORD0000005,2023-02-04,CUST048677,Aditya Kapoor,P00029,T-Shirt,Clothing,KiddoFun,2.0,515.64,0.25,38.67,9.23,821.36,Credit Card,Cancelled,San Antonio,TX,Canada,SELL01411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6033,ORD0006034,2020-03-17,CUST012285,Priya Verma,P00006,Gaming Mouse,Home & Kitchen,FitLife,1.0,460.85,0.05,78.81,2.21,518.83,UPI,Delivered,New York,NY,United States,SELL01348
6034,ORD0006035,2020-08-17,CUST016814,Aarav Joshi,P00040,Microphone,Books,Zenith,5.0,223.36,0.20,160.82,3.73,1057.99,Debit Card,Delivered,Los Angeles,CA,United States,SELL01610
6035,ORD0006036,2023-07-05,CUST036682,Arjun Joshi,P00035,Desk Plant,Clothing,HomeEase,3.0,563.28,0.00,0.00,6.43,1696.27,Net Banking,Returned,San Jose,CA,United States,SELL01453
6036,ORD0006037,2023-07-11,CUST022189,Arjun Reddy,P00029,T-Shirt,Books,HomeEase,3.0,581.80,0.15,74.18,10.20,1567.97,Credit Card,Delivered,Los Angeles,CA,United States,SELL00678
6037,ORD0006038,2020-11-26,CUST036490,Priya Kapoor,P00049,Children',0,0,0.0,0.00,0.00,0.00,0.00,0.00,0,0,0,0,0,0

In [12]:
df.ffill()  #fill missing values by carring forward previous valid value

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,BrightLux,3.0,106.59,0.00,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,UrbanStyle,1.0,251.37,0.05,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,UrbanStyle,3.0,35.03,0.10,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908
3,ORD0000004,2023-07-18,CUST030059,Vihaan Reddy,P00041,Webcam Full HD,Home & Kitchen,Zenith,5.0,33.58,0.15,11.42,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,India,SELL01164
4,ORD0000005,2023-02-04,CUST048677,Aditya Kapoor,P00029,T-Shirt,Clothing,KiddoFun,2.0,515.64,0.25,38.67,9.23,821.36,Credit Card,Cancelled,San Antonio,TX,Canada,SELL01411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6033,ORD0006034,2020-03-17,CUST012285,Priya Verma,P00006,Gaming Mouse,Home & Kitchen,FitLife,1.0,460.85,0.05,78.81,2.21,518.83,UPI,Delivered,New York,NY,United States,SELL01348
6034,ORD0006035,2020-08-17,CUST016814,Aarav Joshi,P00040,Microphone,Books,Zenith,5.0,223.36,0.20,160.82,3.73,1057.99,Debit Card,Delivered,Los Angeles,CA,United States,SELL01610
6035,ORD0006036,2023-07-05,CUST036682,Arjun Joshi,P00035,Desk Plant,Clothing,HomeEase,3.0,563.28,0.00,0.00,6.43,1696.27,Net Banking,Returned,San Jose,CA,United States,SELL01453
6036,ORD0006037,2023-07-11,CUST022189,Arjun Reddy,P00029,T-Shirt,Books,HomeEase,3.0,581.80,0.15,74.18,10.20,1567.97,Credit Card,Delivered,Los Angeles,CA,United States,SELL00678
6037,ORD0006038,2020-11-26,CUST036490,Priya Kapoor,P00049,Children',Books,HomeEase,3.0,581.80,0.15,74.18,10.20,1567.97,Credit Card,Delivered,Los Angeles,CA,United States,SELL00678

In [13]:
df.ffill() #fill missing values by carring forward previous valid value

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,BrightLux,3.0,106.59,0.00,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,UrbanStyle,1.0,251.37,0.05,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,UrbanStyle,3.0,35.03,0.10,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908
3,ORD0000004,2023-07-18,CUST030059,Vihaan Reddy,P00041,Webcam Full HD,Home & Kitchen,Zenith,5.0,33.58,0.15,11.42,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,India,SELL01164
4,ORD0000005,2023-02-04,CUST048677,Aditya Kapoor,P00029,T-Shirt,Clothing,KiddoFun,2.0,515.64,0.25,38.67,9.23,821.36,Credit Card,Cancelled,San Antonio,TX,Canada,SELL01411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6033,ORD0006034,2020-03-17,CUST012285,Priya Verma,P00006,Gaming Mouse,Home & Kitchen,FitLife,1.0,460.85,0.05,78.81,2.21,518.83,UPI,Delivered,New York,NY,United States,SELL01348
6034,ORD0006035,2020-08-17,CUST016814,Aarav Joshi,P00040,Microphone,Books,Zenith,5.0,223.36,0.20,160.82,3.73,1057.99,Debit Card,Delivered,Los Angeles,CA,United States,SELL01610
6035,ORD0006036,2023-07-05,CUST036682,Arjun Joshi,P00035,Desk Plant,Clothing,HomeEase,3.0,563.28,0.00,0.00,6.43,1696.27,Net Banking,Returned,San Jose,CA,United States,SELL01453
6036,ORD0006037,2023-07-11,CUST022189,Arjun Reddy,P00029,T-Shirt,Books,HomeEase,3.0,581.80,0.15,74.18,10.20,1567.97,Credit Card,Delivered,Los Angeles,CA,United States,SELL00678
6037,ORD0006038,2020-11-26,CUST036490,Priya Kapoor,P00049,Children',Books,HomeEase,3.0,581.80,0.15,74.18,10.20,1567.97,Credit Card,Delivered,Los Angeles,CA,United States,SELL00678

In [14]:
df.replace(0,1)  #replace specified values with new values

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,BrightLux,3.0,106.59,1.00,1.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,UrbanStyle,1.0,251.37,0.05,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,UrbanStyle,3.0,35.03,0.10,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908
3,ORD0000004,2023-07-18,CUST030059,Vihaan Reddy,P00041,Webcam Full HD,Home & Kitchen,Zenith,5.0,33.58,0.15,11.42,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,India,SELL01164
4,ORD0000005,2023-02-04,CUST048677,Aditya Kapoor,P00029,T-Shirt,Clothing,KiddoFun,2.0,515.64,0.25,38.67,9.23,821.36,Credit Card,Cancelled,San Antonio,TX,Canada,SELL01411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6033,ORD0006034,2020-03-17,CUST012285,Priya Verma,P00006,Gaming Mouse,Home & Kitchen,FitLife,1.0,460.85,0.05,78.81,2.21,518.83,UPI,Delivered,New York,NY,United States,SELL01348
6034,ORD0006035,2020-08-17,CUST016814,Aarav Joshi,P00040,Microphone,Books,Zenith,5.0,223.36,0.20,160.82,3.73,1057.99,Debit Card,Delivered,Los Angeles,CA,United States,SELL01610
6035,ORD0006036,2023-07-05,CUST036682,Arjun Joshi,P00035,Desk Plant,Clothing,HomeEase,3.0,563.28,1.00,1.00,6.43,1696.27,Net Banking,Returned,San Jose,CA,United States,SELL01453
6036,ORD0006037,2023-07-11,CUST022189,Arjun Reddy,P00029,T-Shirt,Books,HomeEase,3.0,581.80,0.15,74.18,10.20,1567.97,Credit Card,Delivered,Los Angeles,CA,United States,SELL00678
6037,ORD0006038,2020-11-26,CUST036490,Priya Kapoor,P00049,Children',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.isnull()  #check for missing values

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6033,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6034,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6035,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6036,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6037,False,False,False,False,False,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [16]:
df.isnull().sum()  #count missing values in each column

OrderID          0
OrderDate        0
CustomerID       0
CustomerName     0
ProductID        0
ProductName      0
Category         1
Brand            1
Quantity         1
UnitPrice        1
Discount         1
Tax              1
ShippingCost     1
TotalAmount      1
PaymentMethod    1
OrderStatus      1
City             1
State            1
Country          1
SellerID         1
dtype: int64

In [17]:
df.size  #size

120760

In [18]:
df.ndim   #find number of Dimensions

2

In [19]:
df.dtypes  #check data type

OrderID           object
OrderDate         object
CustomerID        object
CustomerName      object
ProductID         object
ProductName       object
Category          object
Brand             object
Quantity         float64
UnitPrice        float64
Discount         float64
Tax              float64
ShippingCost     float64
TotalAmount      float64
PaymentMethod     object
OrderStatus       object
City              object
State             object
Country           object
SellerID          object
dtype: object

In [20]:
df["UnitPrice"].mean()  #calculate the average (mean)of numerical columns

np.float64(299.57690906079176)

In [21]:
df["UnitPrice"].median()  #calculate the middle value (median) of numerical columns

298.2

In [22]:
df["UnitPrice"].mode()  #returns the most frequently occurring values in each column

0    149.53
1    176.38
2    285.16
Name: UnitPrice, dtype: float64

In [23]:
df["UnitPrice"].std()  #calculate the standard deviation, showing how spread out the data is.

172.5909603797131

In [25]:
##CATEGORICAL VARIABLES INTO QUANTITATIVE VARIABLES

In [30]:
#METHOD1
#Label Encoding Method.(manual method)
#replacing values
df['ProductName'].replace({False:0,True:1}, inplace=True)
df

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,BrightLux,3.0,106.59,0.00,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,UrbanStyle,1.0,251.37,0.05,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,UrbanStyle,3.0,35.03,0.10,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908
3,ORD0000004,2023-07-18,CUST030059,Vihaan Reddy,P00041,Webcam Full HD,Home & Kitchen,Zenith,5.0,33.58,0.15,11.42,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,India,SELL01164
4,ORD0000005,2023-02-04,CUST048677,Aditya Kapoor,P00029,T-Shirt,Clothing,KiddoFun,2.0,515.64,0.25,38.67,9.23,821.36,Credit Card,Cancelled,San Antonio,TX,Canada,SELL01411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6033,ORD0006034,2020-03-17,CUST012285,Priya Verma,P00006,Gaming Mouse,Home & Kitchen,FitLife,1.0,460.85,0.05,78.81,2.21,518.83,UPI,Delivered,New York,NY,United States,SELL01348
6034,ORD0006035,2020-08-17,CUST016814,Aarav Joshi,P00040,Microphone,Books,Zenith,5.0,223.36,0.20,160.82,3.73,1057.99,Debit Card,Delivered,Los Angeles,CA,United States,SELL01610
6035,ORD0006036,2023-07-05,CUST036682,Arjun Joshi,P00035,Desk Plant,Clothing,HomeEase,3.0,563.28,0.00,0.00,6.43,1696.27,Net Banking,Returned,San Jose,CA,United States,SELL01453
6036,ORD0006037,2023-07-11,CUST022189,Arjun Reddy,P00029,T-Shirt,Books,HomeEase,3.0,581.80,0.15,74.18,10.20,1567.97,Credit Card,Delivered,Los Angeles,CA,United States,SELL00678
6037,ORD0006038,2020-11-26,CUST036490,Priya Kapoor,P00049,Children',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
#Method2
#convert categorial column in the Dataframe into numeric dummy
pd.get_dummies(df)

,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount,OrderID_ORD0000001,OrderID_ORD0000002,OrderID_ORD0000003,OrderID_ORD0000004,...,SellerID_SELL01989,SellerID_SELL01990,SellerID_SELL01991,SellerID_SELL01992,SellerID_SELL01993,SellerID_SELL01994,SellerID_SELL01995,SellerID_SELL01996,SellerID_SELL01997,SellerID_SELL01998
0,3.0,106.59,0.00,0.00,0.09,319.86,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1.0,251.37,0.05,19.10,1.74,259.64,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3.0,35.03,0.10,7.57,5.91,108.06,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3,5.0,33.58,0.15,11.42,5.53,159.66,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,2.0,515.64,0.25,38.67,9.23,821.36,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6033,1.0,460.85,0.05,78.81,2.21,518.83,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6034,5.0,223.36,0.20,160.82,3.73,1057.99,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6035,3.0,563.28,0.00,0.00,6.43,1696.27,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6036,3.0,581.80,0.15,74.18,10.20,1567.97,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6037,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [33]:
#Method3
#convert the 'Brand' column into numeric codes
df['Brand']=(df['Brand'].astype('category').cat.codes)
df

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,2,3.0,106.59,0.00,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,9,1.0,251.37,0.05,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,9,3.0,35.03,0.10,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908
3,ORD0000004,2023-07-18,CUST030059,Vihaan Reddy,P00041,Webcam Full HD,Home & Kitchen,10,5.0,33.58,0.15,11.42,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,India,SELL01164
4,ORD0000005,2023-02-04,CUST048677,Aditya Kapoor,P00029,T-Shirt,Clothing,6,2.0,515.64,0.25,38.67,9.23,821.36,Credit Card,Cancelled,San Antonio,TX,Canada,SELL01411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6033,ORD0006034,2020-03-17,CUST012285,Priya Verma,P00006,Gaming Mouse,Home & Kitchen,4,1.0,460.85,0.05,78.81,2.21,518.83,UPI,Delivered,New York,NY,United States,SELL01348
6034,ORD0006035,2020-08-17,CUST016814,Aarav Joshi,P00040,Microphone,Books,10,5.0,223.36,0.20,160.82,3.73,1057.99,Debit Card,Delivered,Los Angeles,CA,United States,SELL01610
6035,ORD0006036,2023-07-05,CUST036682,Arjun Joshi,P00035,Desk Plant,Clothing,5,3.0,563.28,0.00,0.00,6.43,1696.27,Net Banking,Returned,San Jose,CA,United States,SELL01453
6036,ORD0006037,2023-07-11,CUST022189,Arjun Reddy,P00029,T-Shirt,Books,5,3.0,581.80,0.15,74.18,10.20,1567.97,Credit Card,Delivered,Los Angeles,CA,United States,SELL00678
6037,ORD0006038,2020-11-26,CUST036490,Priya Kapoor,P00049,Children',NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
#Method4
# Import LabelEncoder from scikit-learn to convert categorical values into numeric codes
from sklearn.preprocessing import LabelEncoder
# Create a LabelEncoder object
le = LabelEncoder()
# Encode the  'Brand' column as anumeric Labels
df['Brand']=le.fit_transform(df['Brand'])
df

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,2,3.0,106.59,0.00,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,9,1.0,251.37,0.05,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,9,3.0,35.03,0.10,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908
3,ORD0000004,2023-07-18,CUST030059,Vihaan Reddy,P00041,Webcam Full HD,Home & Kitchen,10,5.0,33.58,0.15,11.42,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,India,SELL01164
4,ORD0000005,2023-02-04,CUST048677,Aditya Kapoor,P00029,T-Shirt,Clothing,6,2.0,515.64,0.25,38.67,9.23,821.36,Credit Card,Cancelled,San Antonio,TX,Canada,SELL01411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6033,ORD0006034,2020-03-17,CUST012285,Priya Verma,P00006,Gaming Mouse,Home & Kitchen,4,1.0,460.85,0.05,78.81,2.21,518.83,UPI,Delivered,New York,NY,United States,SELL01348
6034,ORD0006035,2020-08-17,CUST016814,Aarav Joshi,P00040,Microphone,Books,10,5.0,223.36,0.20,160.82,3.73,1057.99,Debit Card,Delivered,Los Angeles,CA,United States,SELL01610
6035,ORD0006036,2023-07-05,CUST036682,Arjun Joshi,P00035,Desk Plant,Clothing,5,3.0,563.28,0.00,0.00,6.43,1696.27,Net Banking,Returned,San Jose,CA,United States,SELL01453
6036,ORD0006037,2023-07-11,CUST022189,Arjun Reddy,P00029,T-Shirt,Books,5,3.0,581.80,0.15,74.18,10.20,1567.97,Credit Card,Delivered,Los Angeles,CA,United States,SELL00678
6037,ORD0006038,2020-11-26,CUST036490,Priya Kapoor,P00049,Children',NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN